body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.list {
  list-style: none;
}
.hide {
  display: none;
}
.show {
  border: 1px solid black;
  background-color: lightblue;
  font-size: medium;
}
.show:hover {
  border: 1px solid black;
  background-color: lightblue;
  font-size: medium;
  cursor: pointer;
}
