body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.list {
  list-style: none;
}

.btn {
  margin-top: 10px;
  border: 5px solid #f00;
  background: transparent;
  color: #f00;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  outline: transparent;
  transition: background 0.25s ease, color 0.25s ease, box-shadow 0.15s ease;
  box-shadow: 8px 8px 0 #888;
}

.btn:hover {
  color: #fafafa;
  background: #f00;
  box-shadow: 4px 4px 0 #888;
}
.btn:active {
  box-shadow: 0 0 0 #888;
}

.hide {
  display: none;
}

.show {
  display: block;
}
